body {
	background-color: white;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	margin:0;
}

#bodywrap {
	background-color: white;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:14px;
	margin:0 auto;
	width:830px;
    height: 500px;
}

#topmenu {
	background-color:#DCD4C9;
	height:60px;
	width:100%;
	/*padding:10px;*/
	clear:none;
	overflow:hidden;
/*	border-bottom-style: solid;
	border-width: thin;*/
}

#toplogo {
	width:300px;
	overflow:hidden;
	float:left;
	margin:10px;
}

#toplogo img {
	border: 0;
}

#toptext {
	float: right;
	font-style: normal;
    padding-right:10px;
    padding-top:20px;
	display: inline;
}

#toptext li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}

#toptext a:link,a:visited {
    color: #29306C;
    text-decoration: none;
}

#toptext a:hover {
    color: red;
    text-decoration: none;
}

#midmenu {
	width:700px;
	height:40px;
	overflow:hidden;
	margin: 0 auto;
	background-color:#ff0000;
}

.main-nav {
	color:#333333;
	font-family:"Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
	display: block;
	float: none;
}

.main-nav li {
	display: inline;
	text-align: center;
	margin: 20px;
}

.main-nav li.first-item {
	border-left: none;
}

.main-nav li.last-item {
	border-right: none;
}

/*#bottommenu {
	overflow:hidden;
	height:1000px;
	background-color:#e9e9e9;
}*/

#leftmenu {
	width:150px;
	height:100%;
	overflow:hidden;
	float:left;
	/*margin:10px;*/
	background-color:#DCD4C9;

/*	border-right-style: solid;
	border-width: thin;*/
	color: #29306C;
	height: 700px;
}

#leftmenu ul.menu, #leftmenu ul.menu ul {
  list-style-type:none;
  padding: 5px;
  margin-left: 10px;
}

#leftmenu ul.menu li {
  margin-top: 1px;
}

#leftmenu .menu_parent {
	color: #29306C;
    text-decoration: none;
	font-weight: bold;
} 

#leftmenu .menu_parent:hover {
	color: red;
}

#leftmenu ul.menu ul li .cur_menu {
	color: red;	
}

#leftmenu ul.menu ul a:active,a:link,a:visited {
	color: #29306C;
	text-decoration: none;
}

#leftmenu ul.menu ul a:hover {
    color: red;
    text-decoration: none;
}

#content {
    border-left:1px solid black;
    border-top:1px solid black;
    float:right;
    width:679px;
    height: 700px;
}

#content p {
    text-align: center;
    color: #29306C;
    padding-top: 100px;	
}

#content h1 {
    border-bottom:1px dashed;
    font-size:16px;
    margin-left:30px;
    margin-top:30px;
    width:630px;
    margin-bottom: 0px;
}

#context_menu {
    margin-top: 2px;
    margin-right:25px;
}

#context_menu ul {
    float: right;
    margin: 5px 0px;
}

#context_menu .context_item {
    display: inline;
    margin: 0px 2px 0px 3px;
	list-style-type: none;
	font-size: 0.9em;
}

#content #table_wrapper
{
	margin-top:15px;
}

#content table
{
	font-size: 12px;
    margin-top: 15px;
	margin-left: 50px;
	width: 580px;
	text-align: left;
	border-collapse: collapse;
}
#content th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #29306C;
}
#content td
{
	padding: 2px;
	color: #000;
}
#content .odd
{
	background: #DCD4C9; 
}

/* form style */
fieldset { 
	margin-top:15px; 
	border: 0px;
}

fieldset.submit {
	margin: 0px;  
	float: none;    
	width: auto;    
	border: 0 none #FFF;    
	padding-left: 17em;  
}

fieldset div {
	clear:both;
	margin:0.3em 0;
}
label {
	float: left;
	width:10em;
	text-align:right;
	margin-right:1em;
	padding-top:2px;
}
legend {
	font-size:1.2em;
}

input { 
	padding:0.15em;
	width:20em;
	border:1px solid #ddd;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

select {
	padding:0.15em;
	width:20em;
}

input[type="checkbox"] {
	float: left;
	width: 20px;
}

#pageTabs {
	width: 92%;
	font-size: 10px;
	margin-left: 30px;
	margin-top: 25px;
	float: none;
}

.applySettings {
	float: right;
	text-decoration: none;
	
}
